<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <!-- 激活第一张图片 -->
    <div class="item active">
      <!-- 800*300图片占位 -->
      <img class="slide-image" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2312847128,4031836475&fm=27&gp=0.jpg" alt="">
    </div>
    <div class="item">
        <!-- 800*300图片占位 -->
      <img class="slide-image" src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=779633648,1570937496&fm=27&gp=0.jpg" alt="">
    </div>
    <div class="item">
          <!-- 800*300图片占位 -->
      <img class="slide-image" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536472300425&di=9bf47b9192e65c8662e569b27de904a2&imgtype=0&src=http%3A%2F%2Fimg1.tuniucdn.com%2Fbaokuan%2Fpic%2Fys2014110709_d.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>